body {
  color: #fff;
  background-color: #999;
  font-size: 2em;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: yellow;
}

ul {
  list-style: none;
  background-color: #555;
  color: white;
  margin: 25px;
  padding 0 0 0 3;
}

.smaller {
  font-size: 50%;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

#color {
    background-color: yellow;
    width: 100%;

}

.list {
    margin: 30px;
}

.image01 {
    display: block;
    margin: 20px auto;
    border: solid 1px #000;
}

.yellow {
    color: yellow;
    background-color: black;
    cursor: pointer;

}
